#clock {
	position: relative;
}

#clock img {
	position: absolute;
}

#second {
	position: absolute;
	/*transition: all 1s linear;*/
}

#minute {
	position: absolute;
}

#hour {
	position: absolute;
}